@font-face {
  font-family: "";
  src: url("-") format("woff2"), url("-") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "";
  src: url("-") format("woff2"), url("-") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "";
  src: url("-") format("woff2"), url("-") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "";
  src: url("-") format("woff2"), url("-") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "";
  src: url("-") format("woff2"), url("-") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "";
  src: url("-") format("woff2"), url("-") format("woff");
  font-weight: 700;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "" !important;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  overflow: hidden;
}
